In [115]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from os.path import join
# Charger les donn√©es
df = pd.read_csv("Airline_Dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   Gender                             129880 non-null  object
 2   Customer Type                      129880 non-null  object
 3   Age                                129880 non-null  int64
 4   Type of Travel                     129880 non-null  object
 5   Class                              129880 non-null  object
 6   Flight Distance                    129880 non-null  int64
 7   Inflight wifi service              129880 non-null  int64
 8   Departure/Arrival time convenient  129880 non-null  int64
 9   Ease of Online booking             129880 non-null  int64
 10  Gate location                      129880 non-null  int64
 11  Food and drink                     129880 non-null  int64
 12  Online boarding                    129880 non-null  int64
 13  Seat comfort                       129880 non-null  int64
 14  Inflight entertainment             129880 non-null  int64
 15  On-board service                   129880 non-null  int64
 16  Leg room service                   129880 non-null  int64
 17  Baggage handling                   129880 non-null  int64
 18  Checkin service                    129880 non-null  int64
 19  Inflight service                   129880 non-null  int64
 20  Cleanliness                        129880 non-null  int64
 21  Departure Delay in Minutes         129880 non-null  int64
 22  Arrival Delay in Minutes           129487 non-null  float64
 23  Satisfaction                       129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [116]:
df.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
Satisfaction                           0
dtype: int64

In [117]:
# conversion des noms de colonnes en minuscule
df.columns = df.columns.str.lower()

In [118]:
df['total delay in minutes'] = df['departure delay in minutes'] + df['arrival delay in minutes']

In [119]:
df.drop(["departure delay in minutes"], axis=1, inplace=True)
df.drop(["arrival delay in minutes"], axis=1, inplace=True)
df.drop(["id"], axis=1, inplace=True)
df.head()

,gender,customer type,age,type of travel,class,flight distance,inflight wifi service,departure/arrival time convenient,ease of online booking,gate location,...,seat comfort,inflight entertainment,on-board service,leg room service,baggage handling,checkin service,inflight service,cleanliness,satisfaction,total delay in minutes
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,5,4,3,4,4,5,5,neutral or dissatisfied,43.0
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,1,5,3,1,4,1,neutral or dissatisfied,7.0
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,5,4,3,4,4,4,5,satisfied,0.0
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,2,5,3,1,4,2,neutral or dissatisfied,20.0
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,5,3,3,4,4,3,3,3,satisfied,0.0

In [120]:
# Cr√©er une liste des colonnes cat√©gorielles
categorical_columns = ["gender", "customer type", "type of travel", "class", "satisfaction"]

# Cr√©er des colonnes hot encoder pour chaque colonne cat√©gorielle
for column in categorical_columns:
    df = pd.get_dummies(df, columns=[column],dtype=int)

df

,age,flight distance,inflight wifi service,departure/arrival time convenient,ease of online booking,gate location,food and drink,online boarding,seat comfort,inflight entertainment,...,gender_Male,customer type_Loyal Customer,customer type_disloyal Customer,type of travel_Business travel,type of travel_Personal Travel,class_Business,class_Eco,class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,13,460,3,4,3,1,5,3,5,5,...,1,1,0,0,1,0,0,1,1,0
1,25,235,3,2,3,3,1,3,1,1,...,1,0,1,1,0,1,0,0,1,0
2,26,1142,2,2,2,2,5,5,5,5,...,0,1,0,1,0,1,0,0,0,1
3,25,562,2,5,5,5,2,2,2,2,...,0,1,0,1,0,1,0,0,1,0
4,61,214,3,3,3,3,4,5,5,3,...,1,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,34,526,3,3,3,1,4,3,4,4,...,1,0,1,1,0,1,0,0,1,0
129876,23,646,4,4,4,4,4,4,4,4,...,1,1,0,1,0,1,0,0,0,1
129877,17,828,2,5,1,5,2,1,2,2,...,0,1,0,0,1,0,1,0,1,0
129878,14,1127,3,3,3,3,4,4,4,4,...,1,1,0,1,0,1,0,0,0,1
129879,42,264,2,5,2,5,4,2,2,1,...,0,1,0,0,1,0,1,0,1,0

In [121]:
df.dropna(inplace=True)

In [122]:
df.isnull().sum()

age                                     0
flight distance                         0
inflight wifi service                   0
departure/arrival time convenient       0
ease of online booking                  0
gate location                           0
food and drink                          0
online boarding                         0
seat comfort                            0
inflight entertainment                  0
on-board service                        0
leg room service                        0
baggage handling                        0
checkin service                         0
inflight service                        0
cleanliness                             0
total delay in minutes                  0
gender_Female                           0
gender_Male                             0
customer type_Loyal Customer            0
customer type_disloyal Customer         0
type of travel_Business travel          0
type of travel_Personal Travel          0
class_Business                          0
class_Eco                               0
class_Eco Plus                          0
satisfaction_neutral or dissatisfied    0
satisfaction_satisfied                  0
dtype: int64

In [123]:
df.head()

,age,flight distance,inflight wifi service,departure/arrival time convenient,ease of online booking,gate location,food and drink,online boarding,seat comfort,inflight entertainment,...,gender_Male,customer type_Loyal Customer,customer type_disloyal Customer,type of travel_Business travel,type of travel_Personal Travel,class_Business,class_Eco,class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,13,460,3,4,3,1,5,3,5,5,...,1,1,0,0,1,0,0,1,1,0
1,25,235,3,2,3,3,1,3,1,1,...,1,0,1,1,0,1,0,0,1,0
2,26,1142,2,2,2,2,5,5,5,5,...,0,1,0,1,0,1,0,0,0,1
3,25,562,2,5,5,5,2,2,2,2,...,0,1,0,1,0,1,0,0,1,0
4,61,214,3,3,3,3,4,5,5,3,...,1,1,0,1,0,1,0,0,0,1

In [124]:
df.tail()

,age,flight distance,inflight wifi service,departure/arrival time convenient,ease of online booking,gate location,food and drink,online boarding,seat comfort,inflight entertainment,...,gender_Male,customer type_Loyal Customer,customer type_disloyal Customer,type of travel_Business travel,type of travel_Personal Travel,class_Business,class_Eco,class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
129875,34,526,3,3,3,1,4,3,4,4,...,1,0,1,1,0,1,0,0,1,0
129876,23,646,4,4,4,4,4,4,4,4,...,1,1,0,1,0,1,0,0,0,1
129877,17,828,2,5,1,5,2,1,2,2,...,0,1,0,0,1,0,1,0,1,0
129878,14,1127,3,3,3,3,4,4,4,4,...,1,1,0,1,0,1,0,0,0,1
129879,42,264,2,5,2,5,4,2,2,1,...,0,1,0,0,1,0,1,0,1,0

In [125]:
# plt.hist(df["age"], density=True, bins=100)
# plt.grid()
# plt.title('age')
# plt.show()

In [126]:
# import numpy as np
# from sklearn.datasets import make_regression
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error
# from sklearn.linear_model import LinearRegression
# import matplotlib.pyplot as plt
# from sklearn.preprocessing import PolynomialFeatures
# import pandas as pd
# from ydata_profiling import ProfileReport
# from sklearn.datasets import fetch_openml
# from os.path import join

# df = pd.read_csv("Airline_Dataset.csv")

In [127]:
# # conversion des noms de colonnes en minuscule
# df.columns = df.columns.str.lower()
# df.head()

In [128]:
# # Cr√©er une liste des colonnes cat√©gorielles
# categorical_columns = ["gender", "customer type", "type of travel", "class", "satisfaction"]

# # Cr√©er des colonnes hot encoder pour chaque colonne cat√©gorielle
# for column in categorical_columns:
#     df = pd.get_dummies(df, columns=[column])